<p>Reset Password</p>
<div>{{msg}}</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Current Password</span>
    </div>
    <input type="password" class="form-control" [(ngModel)]="currentPassword" placeholder="current password"
        aria-label="New Password" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">New Password</span>
    </div>
    <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="password"
        aria-label="New Password" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Confirmed Password</span>
    </div>
    <input type="password" class="form-control" [(ngModel)]="confirmedPassword" placeholder="confirm your password"
        aria-label="Confirmed Password" aria-describedby="basic-addon1">
</div>
<button type="button" class="btn btn-primary" (click)="checkEmailIsExist()">Reset Password</button>